In [1]:
import numpy as np
import pandas as pd

In [2]:
subs = pd.read_csv('subs.csv', squeeze= True)
subs.head(2)

C:\Users\Vedant\AppData\Local\Temp\ipykernel_20704\3313418869.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('subs.csv', squeeze= True)

0    48
1    57
Name: Subscribers gained, dtype: int64

In [3]:
vk = pd.read_csv('kohli_ipl.csv')
vk.head(2)

   match_no  runs
0         1     1
1         2    23

In [4]:
movies = pd.read_csv('bollywood.csv')
movies.head(2)

                      movie           lead
0  Uri: The Surgical Strike  Vicky Kaushal
1             Battalion 609    Vicky Ahuja

In [5]:
#astype
import sys
sys.getsizeof(vk)

3584

In [6]:
sys.getsizeof(vk.astype('int16'))

1004

In [7]:
#between
# vk[vk.between(51,99)].size
#between not working
vk[(vk['runs'] >= 51) & (vk['runs'] <= 99)].shape[0]

43

In [8]:
#clip
#Clip in a given range.
subs.clip(100,200)
#values less than 100 wil be converted to 100 and more than 200 will be converted to 200 and between 100-200, they remains as it is.

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [10]:
#drop_duplicates:
temp = pd.Series([1,1,2,2,3,3,4,4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [13]:
# temp.drop_duplicates()
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

In [15]:
#duplicated:
temp.duplicated().sum()

4

In [2]:
#size and count:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [3]:
#give total size.
#Counts nan value 
temp.size

10

In [18]:
#does not count nan values
temp.count()

7

In [19]:
#isnull:
temp.isnull().sum()

3

In [20]:
vk.isnull().sum()

match_no    0
runs        0
dtype: int64

In [21]:
#dropna:
#Drop all the nan values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [22]:
#fillna:
#To replace nan values with any value.
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [4]:
#isin:
vk[vk.isin([49,99])]

NameError: name 'vk' is not defined

In [26]:
#apply:
movies

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [28]:
movies.apply(lambda x: x.split()[0].upper())

AttributeError: 'Series' object has no attribute 'split'

In [29]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [30]:
subs.apply(lambda x:'good day' if x > subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [33]:
#Copy:
vk.copy()

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [34]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]